FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_SERVICE_ACCOUNT_FILE=

TELEGRAM_BOT_TOKEN=
TG_SESSION_SECRET=
POSTBACK_SECRET=
TG_ENABLE_MOCK_AD=true
TG_MOCK_AD_SECONDS=15
TG_FRONTEND_REWARD_MIN_AGE_MS=12000

NEXT_PUBLIC_TG_CHANNEL_URL=
NEXT_PUBLIC_TG_BOT_URL=
NEXT_PUBLIC_MONETAG_SDK_URL=https://libtl.com/sdk.js
NEXT_PUBLIC_MONETAG_ZONE_ID=10673518
NEXT_PUBLIC_MONETAG_SDK_FN=show_10673518

# Optional CORS origin for API routes
ALLOWED_ORIGIN=
